@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 83 63% 98%;
		--foreground: 260 8% 18%;

		--muted: 61 69% 80%;
		--muted-foreground: 0 0% 60%;

		--popover: 61 69% 80%;
		--popover-foreground: 260 8% 18%;

		--card: 61 69% 80%;
		--card-foreground: 260 8% 18%;

		--border: 32 99% 88%;
		--input: 44 34% 65%;

		--primary: 59 72% 52%;
		--primary-foreground: 260 8% 18%;

		--secondary: 59 72% 52%;
		--secondary-foreground: 260 8% 18%;

		--accent: 59 72% 52%;
		--accent-foreground: 260 8% 18%;

		--destructive: 0 100% 50%;
		--destructive-foreground: 210 40% 98%;

		--ring: 215 20.2% 65.1%;

		--radius: 0.5rem;
	}

	.dark {
		--background: 260 8% 18%;
		--foreground: 0 0% 100%;

		--muted: 127 2% 20%;
		--muted-foreground: 0 0% 80%;

		--popover: 255 4% 34%;
		--popover-foreground: 0 0% 91%;

		--card: 255 4% 34%;
		--card-foreground: 0 0% 91%;

		--border: 215 100% 4%;
		--input: 50 100% 28%;

		--primary: 59 72% 52%;
		--primary-foreground: 0 0% 0%;

		--secondary: 57 78% 62%;
		--secondary-foreground: 0 0% 0%;

		--accent: 57 78% 62%;
		--accent-foreground: 0 0% 0%;

		--destructive: 0 63% 31%;
		--destructive-foreground: 210 40% 98%;

		--ring: 216 34% 17%;

		--radius: 0.5rem;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
		font-feature-settings: "rlig" 1, "calt" 1;
	}
}
