@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 300 0% 97%;
		--foreground: 51 94% 2%;

		--muted: 32 100% 94%;
		--muted-foreground: 49 3% 40%;

		--popover: 0 0% 100%;
		--popover-foreground: 0 0% 12%;

		--card: 32 100% 94%;
		--card-foreground: 0 0% 12%;

		--border: 32 99% 88%;
		--input: 44 34% 65%;

		--primary: 46 100% 28%;
		--primary-foreground: 24 100% 98%;

		--secondary: 32 99% 88%;
		--secondary-foreground: 46 98% 27%;

		--accent: 33 99% 82%;
		--accent-foreground: 46 98% 27%;

		--destructive: 0 100% 50%;
		--destructive-foreground: 210 40% 98%;

		--ring: 215 20.2% 65.1%;

		--radius: 0.5rem;
	}

	.dark {
		--background: 0 0% 3%;
		--foreground: 0 0% 91%;

		--muted: 39 99% 11%;
		--muted-foreground: 0 0% 70%;

		--popover: 0 0% 9%;
		--popover-foreground: 0 0% 91%;

		--card: 0 0% 9%;
		--card-foreground: 0 0% 91%;

		--border: 0 0% 16%;
		--input: 49 60% 21%;

		--primary: 50 100% 28%;
		--primary-foreground: 0 0% 100%;

		--secondary: 39 99% 11%;
		--secondary-foreground: 56 100% 39%;

		--accent: 42 100% 13%;
		--accent-foreground: 61 89% 52%;

		--destructive: 0 63% 31%;
		--destructive-foreground: 210 40% 98%;

		--ring: 216 34% 17%;

		--radius: 0.5rem;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
		font-feature-settings: "rlig" 1, "calt" 1;
	}
}
